# Dependencies
node_modules/

# Next.js build output
.next/
out/

# Vercel
.vercel

# OS files
.DS_Store

# Logs
*.log

# Sensitive files
*.csv
*apiKey*
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
